<div class="row">
    <div class="col-xs-4 text-left">
       <a routerLink="/events" class="btn btn-success" style="text-decoration:none;"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a>
    </div>
    <div class="col-xs-8 text-left">
        <h2>Edit Activity Name</h2>
    </div>
</div>
  <hr/>
<div class="container col-md-4 col-md-offset-4">

    <form>
    <div class="form-group">
      <label for="activity">Name:</label>
      <input type="text" class="form-control  input-lg" id="activity" placeholder="Enter new activity name" [(ngModel)]="activity"  name="activity">
    </div>

    <div class="form-group col-xs-8">

    <button type="button" (click)="editActivity()" class="btn btn-danger">Submit</button>
    <button type="button" (click)="gotoEvent()" class="btn btn-default">Cancel</button>
    </div>
 </form>
</div>
